.grid-container {
    display: grid;
    grid-template-areas:
            'header header'
            'n content';
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
}

.content {
    grid-area: content;
    background: aquamarine;
}

.content img {
    width: 1300px;
    height: 500px;
}